header {
  /* height: 100vh; */
  padding-top: 3rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header__container h5 {
  font-size: 1rem;
}

.header__container h1 {
  font-size: 2.5rem;
}

/* ========== CTA ======== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ========== SOCIALS ======== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  font-size: 1.5rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ========== ME ======== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  left: calc(50%-11rem);
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  /* margin: 0 auto;  */
  /* asta pentru centrare */
  margin-top: 4rem;
  position: relative;
}
.scroll__down {
  margin-right: -12rem;
}

/* ========== SCROLL DOWN ======== */
.scroll__down {
  position: absolute;
  right: 40rem; /*instead of 2.3rem*/
  bottom: 8rem; /*instead of 5rem */
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======== MEDIA QUERY(SMedium Devices) ======= */
@media screen and (max-width: 1025px) and (min-width: 1023px) {
  /* .container{
    background: red;
} */
  header {
    height: 68vh;
    overflow: visible;
    margin-bottom: 30rem;
  }
  .scroll__down {
    position: absolute;
    right: 13rem; /*instead of 2.3rem*/
    bottom: 3rem;
  }
}

/* ======== MEDIA QUERY(Small Devices) ======= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    overflow: visible;
    margin-bottom: 12rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

@media screen and (max-width: 385px) {
  header {
    height: 140vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1285px) {
  header {
    height: 140vh;
  }
  .about__me-Alex {
    height: 26rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
